@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    background: #000046;
    background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
    background: linear-gradient(to right, #1cb5e0, #000046);
  }
}

@layer utilities {
  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
  }
}
